.story-end-container {
    text-align: center;
}

.btn-container > button {
    margin: 10px;
}

.story-finish-image {
    width: 9em;
}

h1 {
    margin-top: 20px;
}

.end-page-avatar-svg-container {
    width: 200px;
    margin: 0px auto;
}

.story-end-falling-stars-container {
    background-image: url('../../assets/icons/falling-stars-animation.gif');
}