@import '../sass/themes/colors';

header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

main {
    padding-top: 92px; // demarcating nav and content
    // padding-bottom: 300px;
    background-image: url("../assets/imgs/svg/circle.svg"), url("../assets/imgs/svg/circle.svg"), url("../assets/imgs/svg/circle.svg"), url("../assets/imgs/svg/circle.svg"), url("../assets/imgs/svg/circle.svg");
    background-repeat: no-repeat;
    background-size: 120px, 400px, 80px, 20px, 20px;
    background-position: 98% 8%, -19% 20%, 105% 8%, 12% 0%, 99% 25%;
    caret-color: transparent;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: map-get($palette-primary, 500);
    background-image: url(../assets/imgs/child-writting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
}
.top-bar{
    width: 100%;
    text-align: right;
}

.content span {
    display: none;
}
