.avatar-creation-container {
    min-width: 1000px;
    margin-bottom: 50px;
}
.btn-primary{
    border-color: unset !important;
    margin: 1px;
}
.white{
    color: white;
}
.primary-selection-container {
    display: table;
}

#svg-container {
    min-width: 400px;
    min-height: 400px;
}

.question-mark-image {
    width: 400px;
}

.vertical-align-middle {
    vertical-align: middle;
}

// .secondary-selection-button .secondary-selection-icon {
//     width: 10px;
// }