form {
    max-width: 400px;
}

div.upload-dialog-btn-container > button{
    color: white;
}



.upload-story-dialog-form {
    margin-left: 0px;
    margin-right: 0px;
    display: inline;
}

#direct_upload {
    display: flex;
    justify-content: space-between;
}
