@import '../../sass/themes/colors';
@import '../../sass/utils/variables';
// DO NOT REMOVE THESE IMPORTS AS THE TOAST MESSAGE DISPLAY DEPENDS ON THEM 
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';

.hero-text {
  font-weight: 800;
  font-size: 42px;
  font-family: $font-title;
  text-align: center;
  line-height: 42px;
  //background-image: url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg);
  background-repeat: no-repeat;
  background-size: 80px, 80px, 5px, 20px;
  background-position: 90% 90%, 0% 12%, 105% 8%, 0% 3%, 70% 30%, 99% 25%;
}

.hero-image {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.level-up-button {
  background-color: white;
  width: 60%;
  display: block;
  // margin-right: auto;
  // margin-left: auto;
  margin: 0px auto;
}

.level-up-image {
  width: 60%;
  display: block;
  // margin-right: auto;
  // margin-left: auto;
  margin: 0px auto;
}

.hero-points {
  margin-top: 2rem;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;

  &>* {
    margin-top: .8rem;
    margin-bottom: .8rem;
  }

  &>*:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }


  &>*:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-points-items {
    display: flex;
    align-items: center;

    &>*:first-child {
      font-size: 3rem;
      line-height: 3rem;
      vertical-align: top;
      font-weight: 700;
      font-family: $font-title;
      flex-shrink: 0;
      margin-right: 24px;
    }


    &>*:last-child {
      color: map-get($palette-gray, 500);
    }
  }
}

.level-up-button:hover {
  transform: scale(1.25);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grow {
  transition: all .2s ease-in-out;
}

.hero-card,
.book-list-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 32px 20px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);

  @media screen and (min-width: $breakpoint-sm) {
    padding: 32px 36px;
  }
}

.hero-card {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 52px;

    .hero-text {
      order: 1;
      width: 47%;
    }

    .hero-image {
      order: 2;
      width: 47%;
    }

    .hero-points {
      order: 3;
      width: 70%;
      max-width: 400px;
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .hero-text {
      order: 1;
      width: 27%;
    }

    .hero-image {
      order: 2;
      width: 35%;
    }

    .hero-points {
      order: 3;
      width: 30%;
    }
  }
}

.card-title {
  // margin-left: $card-spacer * 1px;
  // margin-right: $card-spacer * 1px;
  color: map-get($palette-primary, 500);
  border-left: 4px solid map-get($palette-primary, 500);
  font-family: $font-title;
  font-weight: 600;
  font-size: 24px;
  padding-left: 8px;
  margin-bottom: 10px;
}

@media screen and (min-width: $breakpoint-md) {
  .home-container {
    display: flex;

    &.with-bg {
      // background-image: url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg), url(../../assets/imgs/svg/circle.svg);
      background-repeat: no-repeat;
      background-size: 120px, 400px, 80px, 20px, 20px;
      background-position: 98% 8%, -19% 20%, 105% 8%, 12% 0%, 99% 25%;
    }

    &>*:first-child {
      width: 200px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &>*:last-child {
      /* width: 70%; */
    }
  }
}

.in-progress-container {
  display: flex;
  column-gap: 10%;
  justify-content: space-between;

}

.in-progress-quiz-card {
  display: block;
}

.in-progress-story-card {
  display: block;
}

.in-progress-icons {
  width: 25%;
}

nav {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: inline-block;
  background: #37bc9b;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

nav ul li {
  position: relative;
  margin: 0 20px 0 0;
  float: left;
  display: inline-block;
}

li>a:after {
  content: ' »';
}

/* Change this in order to change the Dropdown symbol */

li>a:only-child:after {
  content: '';
}

nav ul li a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  background: #37bc9b;
  float: left;
}

nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

nav ul li:hover ul {
  display: block;
}

.books-icon {
  height: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: 10px;
}
