footer {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 16px 12px;
    margin-top: 28px;
}

footer > div { /* todo:: use a better seletor */
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div > * { /* todo:: use a better seletor */
    margin: 0 3px;
}

footer a {
    text-decoration: none;
    color: inherit;
}